.inputInput {
	background: #eee;
	font-family: "Outfit", sans-serif;
}

.inputLabel {
	color: #eee;
	font-family: "Outfit", sans-serif;
	font-size: 1rem;
}

.inputWrapper {
	margin-bottom: 20px;
}

.deleteTitle {
	color: #eee;
	font-family: "Outfit", sans-serif;
	text-align: center;
}
